@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Bootstrap Extract */
* { box-sizing: border-box; }
html {
    font-family: sans-serif;
    font-size: 10px;
}
body {
    margin: 0;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.clearfix::after, .clearfix::before,
.navbar::after, .navbar::before,
.container::after, .container::before,
.row::after, .row::before,
.nav::after, .nav::before {
  display: table;
  content: " ";
}
.clearfix::after,
.navbar::after,
.container::after,
.row::after,
.nav::after {
  clear: both;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h1, h1 {
  font-size: 36px;
}
ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}
p {
  margin: 0 0 10px;
}
a {
  color: #337ab7;
  text-decoration: none;
}

hr {
    height: 0;
    box-sizing: content-box;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.text-right {
  text-align: right;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
  }
}
@media (min-width: 768px) {
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 4px;
  }
}
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  border-width: 0 0 1px;
  z-index: 1030;
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
@media (min-width: 768px) {
  .navbar-fixed-top {
    border-radius: 0;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
  }
}
.navbar-default .navbar-text {
  color: #777;
}
#page-navbar .navbar-text {
  display: block;
  float: none;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
}
#page-navbar h1.navbar-text {
  color: #222;
  font-weight: 700;
  font-size: 21px;
}
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav-pills > li {
  float: left;
}
.nav-stacked > li {
  float: none;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}

/* Site Specific Styles */
body {
    padding: 100px 0 0;
    font-size: 16px;
    font-family: 'Courier Prime', monospace;
}

.container {
    max-width: 960px;
}
#page-navbar h1.navbar-text {
    color: #222;
    font-weight: 700;
    font-size: 21px;
}
#page-navbar .navbar-text {
    display: block;
    float: none;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
}

#directory-list-header {
    font-weight: bold;
    padding: 10px 0;
}

#directory-listing li {
    position: relative;
}

#directory-listing a {
    padding-top: 0;
    padding-bottom: 0;
}

.file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-name i {
    color: #555;
}

#page-content .nav>li>a {
    padding-left: 0;
    padding-right: 0;
}

.footer {
    margin: 20px;
    text-align: center;
    font-size: 12px;
}
